body {
    background: url(images/pattern.png);
    background-repeat: repeat;
}

.navbar-inverse {
    background-color: #16235A;
    border-color: #16235A;
}

.navbar {
    position: relative;
    min-height: 50px;
    margin-bottom: 0px;
    border: 0px solid transparent;
    border-radius:0px;
    
}
.navbar-brand {
   font-family: 'Montserrat Alternates', sans-serif;
   color:#cacad5;
    float: left;
    height:auto;
    padding: 10px 10px;
    font-size: 26px;
    line-height: 26px;
}
.navbar-brand>img{ width:80%;}

.navbar-inverse .navbar-nav > li > a {
    color: #A4A4BF;
}
.navbar-inverse .navbar-nav > li > a:hover {
   background-color: #888C46;
}

.btn-default {
    color: #333;
    background-color: #888C46;
    border-color: #888C46;
    border-radius:0px;
    color:#fff;
}

#blog-section{margin-top:40px;margin-bottom:80px;}
.content-title{padding:5px;background-color:#fff;}
.content-title h3 a{color:#34495E;text-decoration:none; transition: 0.5s;}
.content-title h3 a:hover{color:#2A3457; }
.content-footer{background-color:#888C46;padding:10px;position: relative;}
.content-footer span a {
    color: #fff;
    display: inline-block;
    padding: 6px 5px;
    text-decoration: none;
    transition: 0.5s;
}
.content-footer span a:hover{     
    color:#2A3457;   
}
aside{
    -webkit-box-shadow: 1px 4px 16px 3px rgba(199,197,199,1);
-moz-box-shadow: 1px 4px 16px 3px rgba(199,197,199,1);
box-shadow: 1px 4px 16px 3px rgba(199,197,199,1);}
aside .content-footer>img {
    width: 33px;
    height: 33px;
    /*border-radius: 100%;*/
    margin-right: 10px;
    border: 2px solid #fff;
}

.user-ditels {
    width: 300px;
    top: -100px;
    height: 100px;
    padding-bottom: 99px;
    position: absolute;
    border: solid 2px #fff;
    background-color: #34495E;
    right: 25px;
    display: none;
    z-index: 1;
}

@media (max-width:768px){
    .user-ditels {   
    right: 5px;   
}
    
}





.content-footer .user-ditels .user-img{width: 100px;height:100px;float: left;}
.user-full-ditels h3 {
    color: #fff;
    display: block;
    margin: 0px;
    padding-top: 10px;
    padding-right: 28px;
    text-align: right;
}
.user-full-ditels p{    
    color: #fff;
    display: block;
    margin: 0px;
     padding-right: 20px;
    padding-top: 5px;
   text-align: right;}
.social-icon {
    background-color: #fff;
    margin-top: 10px;
    padding-right: 20px;
    text-align: right;
}



/*recent-post-col////////////////////*/
.widget-sidebar {
    background-color: #fff;
    padding: 20px;
}

.title-widget-sidebar {
    font-size: 14pt;
    border-bottom: 2px solid #e5ebef;
    margin-bottom: 15px;
    padding-bottom: 10px;    
    margin-top: 0px;
}

.title-widget-sidebar:after {
    border-bottom: 2px solid #2A3457;
    width: 150px;
    display: block;
    position: absolute;
    content: '';
    padding-bottom: 10px;
}

.recent-post{width: 100%;height: 80px;list-style-type: none;}
.post-img img {
    width: 100px;
    height: 70px;
    float: left;
    margin-right: 15px;
    border: 5px solid #888C46;
    transition: 0.5s;
}

.recent-post a {text-decoration: none;color:#34495E;transition: 0.5s;}
.post-img, .recent-post a:hover{color:#2A3457;}
.post-img img:hover{border: 5px solid #2A3457;}








/*categories//////////////////////*/

.categories-btn{
    background-color: #2A3457;
    margin-top:30px;
    color: #fff;
    cursor: pointer;
    padding: 18px;
    width: 100%;
    border: none;
    text-align: left;
    outline: none;
    font-size: 15px;
    transition: 0.4s;
    
}
.categories-btn:after {
    content: '\25BA';
    color: #fff;
    font-weight: bold;
    float: right;
    margin-left: 5px;
}
.categories-btn:hover {
    background-color: #888C46;color: #fff;
}

.form-control{border-radius: 0px;}

.btn-warning {
    border-radius: 0px;
    background-color: #2A3457;
    margin-top: 15px;
}
.input-group-addon{border-radius: 0px;}



.content-footer span.created {
    display: block;
    color:#fff;
    top: 30%;
    position:absolute;
    right:2%;
}
 aside {
     margin-bottom: 10px;
 }

 aside.post-index {
     position: relative;
 }

 aside.post-index p.category-tile {
     color: #3b3b3b;
     background-color: rgba(254, 254, 254, 0.5);
     padding:5px;
     font-weight: bold;
     font-size:15px;
     position:absolute;
     top:0;
     left:0;
     display: none;
 }


aside img.post-image{
   height: 220px !important;
    width:100%;
}

.card-content {
    height:30px;
}








.widget-sidebar .span_style span{
    background-color:darkgrey;
    padding:4px;
    color:white;
    display:inline-block;
    margin-right: 4px;
    margin-bottom:4px;
}





.single-post img.single-post-image {
      width:100%;
      height:400px;
     
}

.single-post img.single-post-avatar{

    width:40px;
}

.single-post .card-content p {
    
    line-height: 1.5;
}

.tags-wrap {
    margin:10px 0;
}

.w-tags .tags-wrap a {
    text-decoration: none;
    float:left;
    padding: 7px 10px;
    font-size: 12px;
    color: #5d8395;
    border: 2px solid #dddede;
    border-radius: 50px;
    margin-right: 10px;
    margin-bottom: 10px;
    transition: all .3s ease; }
    @media (max-width: 1024px) {
      .w-tags .tags-wrap a {
        padding: 7px 10px; } }
    .w-tags .tags-wrap a:hover {
      background-color: #888C46;
      color: #fff;
      border-color: #d8dba6; }


/*Carousel*/

@import url('https://fonts.googleapis.com/css?family=Kaushan+Script|Montserrat:400,700');
/* Mogo slider */
.slider {
    background: url("https://raw.githubusercontent.com/raazon/raazon.github.io/master/HTML/mogo/img/slider-bg.jpg") no-repeat center / cover;
    position: relative;
    
}






/* Carousel */
.slider .carousel {
    z-index: 1;
    padding: 0px 0 50px 0;
}




.slider .slider-content {
    position:relative;
}

.slider .slider-content img {
   height: 500px;
   width:100%;

}

.slider .slider-content p {
    color: #fff;
    font-size:14px;
    line-height: 30px;
    font-family: 'Kaushan Script', cursive;
    position:absolute;
    top:89%;
    left:5%;
}

.slider .slider-content h3 {
    color: #000;
    font-size: 25px;
    font-weight: 500;
    font-family: 'Montserrat', sans-serif;
    position:absolute;
    top:80%;
    left:5%;
}









/* Carousel indicator */
.slider .carousel-indicators {
    width: 100%;
    margin: 0;
    padding: 0;
    left: 0;
}

.slider .carousel-indicators li {
    text-indent: initial;
    width: 22%;
    height: 5px;
    margin: 0 2% 0 0;
    border-radius: 0;
    background: #ffffff;
    border: none;
    opacity: 0.6;
}

.slider .carousel-indicators li:last-child {
    margin: 0;
}

.slider .carousel-indicators li.active {
    opacity: 1;
    position: relative;
}

.slider .carousel-indicators li.active:after {
    content: "";
    width: 30%;
    height: 5px;
    top: 0;
    left: 0;
    position: absolute;
    background: #000;
}
.slider .carousel-indicators li:hover{
    opacity: 1;
}

.slider .indicator-inner {
    padding-top: 25px;
    text-align: left;
}

.slider .indicator-inner span {
    font-family: 'Montserrat', sans-serif;
    color: #fff;
    font-size: 17px;
    font-weight: 400;
}

.slider .indicator-inner span.number {
    color:#000;
    font-size: 23px;
    font-weight: 500;
    margin-right: 10px;

}

.slider .indicator-inner span.text {
    color:#000;
  }


  #mogo-slider > ol > li {
    color:black;
  }

/* Media query for 959px */
@media only screen and (max-width: 959px) {
    /* Main slider section */
    .slider .carousel {
        padding: 0px 0 50px 0;
    }

    .slider .slider-content img {
   height: auto;
   width:auto;

}

    
}

/* Media query for 768px */
@media only screen and (max-width: 768px) {
    /* Main slider section */
    .slider .slider-content p {
        font-size: 35px;
        line-height: 70px;
    }

    .slider .indicator-inner {
        padding-top: 10px;
    }

    .slider .slider-content h3 {
        font-size: 35px;
    }

    .slider .indicator-inner span {
        font-size: 10px;
    }

    .slider .indicator-inner span.number {
        font-size: 10px;
        margin-right: 0;
    }


.slider .slider-content img {
   height: auto;
   width:auto;

}

}

/* Media query for 420px */
@media only screen and (max-width: 420px) {
    /* Main slider section */
    .slider .carousel {
        padding: 0px 0 50px 0;
    }

    .slider .slider-content p {
        font-size: 35px;
        line-height: 70px;
    }

    .slider .indicator-inner {
        padding-top: 10px;
    }

    .slider .slider-content h3 {
        font-size: 35px;
    }

    .slider .indicator-inner span {
        font-size: 7px;
    }

    .slider .indicator-inner span.number {
        font-size: 7px;
        margin-right: 0;
    }


    .slider .slider-content img {
   height: auto;
   width:auto;

}
}

.album-click {
    float:left;
    position:relative;
    margin:5px 10px;
}
.album .album-buttons .album-link {
    color: #dcdcdc;
    background: rgba(0, 0, 0, 0.5);
    border-radius:3px;
    padding:4px 20px;
    font-weight: bold;
    font-style: italic;
   text-decoration: none;
    position:absolute;
    bottom:0px;
    left:0px;
  cursor:pointer;
}
.album .album-buttons img {
    box-shadow:1px 1px 5px #7a7a7a;
    cursor:pointer;
    border: 1px solid #696969;
}



.album .album-buttons .album-click img:hover {

    transition:all 0.2s; /* Change Speed */
    -ms-transform: scale(1.1, 1.1); /* IE 9 */
    -webkit-transform: scale(1.1, 1.1); /* Safari */
    transform: scale(1.1, 1.1); /* Change Size */
    overflow:visible;
    z-index:1 !important;

}

#links {
    display:none;
}

